* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button,
textarea,
select {
    font: inherit;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:  center;
}

#container{
    border: 2px solid red;
    width: 960px;
    height: 960px;
    display: flex;
    flex-direction: row;
    
}

#container div{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}